<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->


	<bean class="java_advanced.framework.spring.core.Project"
		id="project1">

		<constructor-arg index="0" type="java.lang.Integer" value="1" />
		<constructor-arg index="1" value="AI based chatbot" />
		<constructor-arg index="2" value="in-progress" />

	</bean>
	<bean class="java_advanced.framework.spring.core.Student"
		id="student1">
		<constructor-arg index="0" type="java.lang.Integer" value="1" />
		<constructor-arg index="1" value="Arya" />
		<constructor-arg index="2" value="aryavajpai4141@gmail.com" />
		<constructor-arg index="3" ref="project1" />
	</bean>


</beans>
